<form class="form__user">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search for Users</mat-label>
    <input class="form__user-input"
           type="text"
           placeholder="..."
           aria-label="Number"
           matInput
           [formControl]="FC"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filtered | async" [value]="option.name">
        <span class="user__name">{{ option.name }}</span>
        <span class="user__surename">{{ option.surename }}</span>
        <span class="user__email">{{ option.email }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="caption">
  <a target="_blank" href="https://github.com/dzebski/angular-json-search">Source on GitHub</a>
</div>
